.CSidebarNavListItem {
    position: relative;
}

.CSidebarNavListItem .CSidebarNavListItem-setting {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 36;
    min-width: 36;
    height: 100%;
    background-color: rgb(70, 71, 77);
    border-radius: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CSidebarNavListItem:hover .CSidebarNavListItem-setting,
.CSidebarNavListItem-setting:hover {
    visibility: visible;
}

.CSidebarNavListItem:hover .extend-angle-left-icon {
    visibility: hidden;
}
