.CSidebarNavListItem{
    position: relative;
}

.CSidebarNavListItem .CSidebarNavListItem-setting {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 36;
    min-width: 36;
    height: 100%;
    background-color: #313239;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CSidebarNavListItem:hover .CSidebarNavListItem-setting {
    visibility: visible;
}
